<a href="https://colab.research.google.com/github/yuki-tamaribuchi/coursera_mlf/blob/master/coursera_gradedquiz_predict_house_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install turicreate

Requirement already satisfied: turicreate in /usr/local/lib/python3.6/dist-packages (6.4.1)
ERROR: Could not find a version that satisfies the requirement graphlab (from versions: none)
ERROR: No matching distribution found for graphlab

In [ ]:
import turicreate

In [ ]:
sales=turicreate.SFrame('/content/drive/MyDrive/coursera_ml_data/reg_home/home_data.sframe/home_data.sframe')

In [ ]:
sales_df=sales.to_dataframe()

In [ ]:
sales_df

               id                       date  ...  sqft_living15  sqft_lot15
0      7129300520  2014-10-13 00:00:00+00:00  ...         1340.0      5650.0
1      6414100192  2014-12-09 00:00:00+00:00  ...         1690.0      7639.0
2      5631500400  2015-02-25 00:00:00+00:00  ...         2720.0      8062.0
3      2487200875  2014-12-09 00:00:00+00:00  ...         1360.0      5000.0
4      1954400510  2015-02-18 00:00:00+00:00  ...         1800.0      7503.0
...           ...                        ...  ...            ...         ...
21608  0263000018  2014-05-21 00:00:00+00:00  ...         1530.0      1509.0
21609  6600060120  2015-02-23 00:00:00+00:00  ...         1830.0      7200.0
21610  1523300141  2014-06-23 00:00:00+00:00  ...         1020.0      2007.0
21611  0291310100  2015-01-16 00:00:00+00:00  ...         1410.0      1287.0
21612  1523300157  2014-10-15 00:00:00+00:00  ...         1020.0      1357.0

[21613 rows x 21 columns]

In [ ]:
import pandas as pd
pd.options.display.float_format = '{:.10f}'.format

In [ ]:
sales_df['zipcode'].unique()

array(['98178', '98125', '98028', '98136', '98074', '98053', '98003',
       '98198', '98146', '98038', '98007', '98115', '98107', '98126',
       '98019', '98103', '98002', '98133', '98040', '98092', '98030',
       '98119', '98112', '98052', '98027', '98117', '98058', '98001',
       '98056', '98166', '98023', '98070', '98148', '98105', '98042',
       '98008', '98059', '98122', '98144', '98004', '98005', '98034',
       '98075', '98116', '98010', '98118', '98199', '98032', '98045',
       '98102', '98077', '98108', '98168', '98177', '98065', '98029',
       '98006', '98109', '98022', '98033', '98155', '98024', '98011',
       '98031', '98106', '98072', '98188', '98014', '98055', '98039'],
      dtype=object)

In [ ]:
mean_price_by_zipcode=sales_df.groupby('zipcode')['price'].mean()

In [ ]:
mean_price_by_zipcode.sort_values(ascending=False)

zipcode
98039   2160606.6000000001
98004   1355927.0977917982
98040   1194230.0035460992
98112   1095499.3680297397
98102    901258.2380952381
               ...
98148    284908.5964912281
98001    280804.6906077348
98032    251296.2400000000
98168    240328.3717472119
98002    234284.0351758794
Name: price, Length: 70, dtype: float64

In [ ]:
living_space_bw_2k_4k=sales_df[(sales_df['sqft_living']>= 2000.0)&(sales_df['sqft_living']<=4000.0)]

In [ ]:
living_space_bw_2k_4k

               id                       date  ...   sqft_living15       sqft_lot15
1      6414100192  2014-12-09 00:00:00+00:00  ... 1690.0000000000  7639.0000000000
10     1736800520  2015-04-03 00:00:00+00:00  ... 2210.0000000000  8925.0000000000
15     9297300055  2015-01-24 00:00:00+00:00  ... 2140.0000000000  4000.0000000000
21     2524049179  2014-08-26 00:00:00+00:00  ... 4110.0000000000 20336.0000000000
22     7137970340  2014-07-03 00:00:00+00:00  ... 2240.0000000000  7005.0000000000
...           ...                        ...  ...             ...              ...
21599  7202300110  2014-09-15 00:00:00+00:00  ... 3370.0000000000  6814.0000000000
21603  7852140040  2014-08-25 00:00:00+00:00  ... 2270.0000000000  5731.0000000000
21605  3448900210  2014-10-14 00:00:00+00:00  ... 2520.0000000000  6023.0000000000
21606  7936000429  2015-03-26 00:00:00+00:00  ... 2050.0000000000  6200.0000000000
21609  6600060120  2015-02-23 00:00:00+00:00  ... 1830.0000000000  7200.0000000000

[9221 rows x 21 columns]

In [ ]:
living_space_bw_2k_4k['sqft_living'].count()/sales_df.count()

id              0.4266413732
date            0.4266413732
price           0.4266413732
bedrooms        0.4266413732
bathrooms       0.4266413732
sqft_living     0.4266413732
sqft_lot        0.4266413732
floors          0.4266413732
waterfront      0.4266413732
view            0.4266413732
condition       0.4266413732
grade           0.4266413732
sqft_above      0.4266413732
sqft_basement   0.4266413732
yr_built        0.4266413732
yr_renovated    0.4266413732
zipcode         0.4266413732
lat             0.4266413732
long            0.4266413732
sqft_living15   0.4266413732
sqft_lot15      0.4266413732
dtype: float64

In [ ]:
my_features=['bathrooms']
advanced_features=['bedrooms','bathrooms','sqft_living','sqft_lot','floors','zipcode']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(sales_df.drop(['price'],axis=1),sales_df['price'])

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lin_reg1=LinearRegression()
lin_reg1.fit(X_train[my_features],y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=lin_reg1.predict(X_test[my_features])

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
import numpy as np

In [ ]:
np.sqrt(mean_squared_error(y_test,y_pred))

323880.1632012841

In [ ]:
lin_reg2=LinearRegression()

In [ ]:
lin_reg2.fit(X_train[advanced_features],y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=lin_reg2.predict(X_test[advanced_features])

In [ ]:
np.sqrt(mean_squared_error(y_test,y_pred))

263127.69817296846

In [ ]:
#最後のは間違い
#本来は250000以下になるはず